@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff; /* Light mode background color */
  --font-color: #000000; /* Light mode font color */
}

.dark-mode {
  --background-color: #1a1a1a; /* Dark mode background color */
  --font-color: #ffffff; /* Dark mode font color */
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
}
